<ion-header class="login-header ">
  <ion-navbar class="login-top" hideBackButton>
    <div class="login-wrapper">
      <div class="mobile-top-con">
        <div class="mobile-menu show">
          <button class="navmenur" (click)="openmenu()" menuToggle="right" hidden="false">
            <ion-icon name="menu"></ion-icon>
          </button>
          <button class="navmenul hide" menuToggle="left" hidden="true">
            <ion-icon name="menu"></ion-icon>
          </button>
        </div>
        <div class="logo">
          <a [navPush]="homepage"> <img src="images/logo_main.png" alt="#"></a>
        </div>
        <div class="logout">
          <a [navPush]="updateprofilepage"><img src="images/gear2.png"></a>
        </div>
      </div>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="experience-wrapper sports-details-page">

    <div class="top-banner-contain1 expgallery" *ngIf="sportdet">
      <ion-slides [options]="mySlideOptions1" class="gallery4">
        <ion-slide *ngFor="let item of sportdet.bImage; let i = index" class="Stats-slider-bottom-contain211">
          <img  src="{{item}}">
        </ion-slide>
      </ion-slides>
    </div>

    <div class="people-div" *ngIf="sportdet">
      <h4>Community:</h4>
      <ul>
        <li *ngFor="let uItem of sportdet.community_pople; let i = index" class="expgallery">
          <img src="{{uItem.image}}" class=" sport_community" ng-click="userDet(uItem)" style="cursor: pointer;" />
        </li>
      </ul>
    </div>

    <div class="see-btn-spot" *ngIf="sportdet">
      <a href="javascript:void(0)"  (click)="seemorepeople()">see more</a>
    </div>


    <div class="sport-text-contain"  *ngIf="sportdet">
      <h2>RUN</h2>
      <p> {{spdescription}}
        <a href="javascript:void(0)" class="color3" *ngIf="isExpanded == 1" (click)="lessdesp()"><strong>  &lt;&lt; Close</strong></a>
        <a href="javascript:void(0)" class="color3" *ngIf="isExpanded == 0" (click)="moredesp()"><strong>  More &gt;&gt;</strong></a>
      </p>
    </div>


    <div id="tabs"  style="margin-bottom: 24px;">
      <div class="btntablist">
        <button class="btntab active" [navPush]="sportspage" [navParams]="{id:sportsid}">Social</button>
        <button class="btntab" [navPush]="sportseventpage" [navParams]="{id:sportsid}">events</button>
        <button class="btntab" [navPush]="sportsgrouppage" [navParams]="{id:sportsid}">groups</button>
        <button class="btntab active">stats</button>
      </div>
      <div id="mainView">

        <table width="100%" *ngFor="let item of statdata2; let i = index" class="stat-tab">

          <tr>

            <td class="first-td" style="padding:5px 0 10px;" width="20%">

              <h4 style="color:#f79213">{{item.sport_name}}</h4>

              <img src="http://torqkd.com/uploads/sports_image/thumb/{{item.imag_name}}" alt=""  style="margin-top:10px;  width:52px;"/></td>

            <td>{{item.activity_no}}<br />
              <span>Activities</span></td>

            <td >{{item.total_dis}}<br />
              <span>Distance</span></td>

            <td >{{item.total_time}}<br/>

              <span style="text-align:left">Time</span></td>

          </tr>

          <tr>

            <td  valign="top" align="left" width="100%"  colspan="5">

              <base-chart  class="chart"
                           [datasets]="item.chartData"
                           [labels]="item.mon"
                           [options]="lineChartOptions"
                           [colors]="lineChartColors"
                           [legend]="lineChartLegend"
                           [chartType]="lineChartType"></base-chart>

              <div class="stat-table2" style="padding:10px 0; "><a href="javascript:void(0);" class="stat-view-btn" (click)="viewstatdet(item)">View Details</a></div>
            </td>

          <tr>

            <td  valign="bottom" colspan="5" style="padding:0; border-top: solid 1px #555555; padding:15px 0 0 0; margin-bottom:10px;">

          </tr>

        </table>

        <span class="empty" *ngIf="!statcount">No results found.</span>


      </div>
    </div>

    <div style="clear: both;"></div>

    <a class="vertical-prev" (click)="upArrow()" *ngIf="spimagelistlength > 1" style="display: block; margin:10px auto;">&nbsp;</a>

    <ion-slides #mySlider class="ch-slider" [options]="mySlideOptions5" style="clear: both;" *ngIf="spimagelistlength">
      <ion-slide *ngFor="let item of spimagelist; let i = index" class="slides">
        <img src="http://torqkd.com/uploads/sports_image/additional/thumb/{{item.image}}">
        <h2>{{item.sport_name}}</h2>
        <span>
             <div class="more"><a href="javascript:void(0);" [navPush]="sportspage" [navParams]="{id:item.id}">MORE »</a> </div>
             <div class="clear"></div>
          </span>
      </ion-slide>
    </ion-slides>

    <a class="vertical-next" (click)="downArrow()" *ngIf="spimagelistlength > 1" style="display: block; margin:10px auto;">&nbsp;</a>


    <div style="clear: both;"></div>


    <div class="stats-slider-bottom">
      <ion-slides [options]="mySlideOptions2">
        <ion-slide *ngFor="let item of banner1data; let i = index" class="Stats-slider-bottom-contain1">
          <a hre="javascript:void(0);"><img  (click)="launch(item.banner_url)" src="http://torqkd.com/user/ajs1/getiamgeencode?image=http://torqkd.com/uploads/advertise_image/thumb/{{item.b_image}}"></a>
        </ion-slide>
      </ion-slides>
      <ion-slides [options]="mySlideOptions3">
        <ion-slide *ngFor="let item of banner2data; let i = index" class="Stats-slider-bottom-contain2">
          <a hre="javascript:void(0);"><img (click)="launch(item.banner_url)" src="http://torqkd.com/user/ajs1/getiamgeencode?image=http://torqkd.com/uploads/advertise_image/thumb/{{item.b_image}}"></a>
        </ion-slide>
      </ion-slides>
    </div>



    <div class="clear"></div>
    <div class="footer-menu1">
      <span>©TORKQ</span>
      <span>|</span>
      <span>
            <a href="javascript:void(0);" (click)="showtermsploicy('terms')">TERMS </a>
        </span>
      <span>|</span>
      <span>
            <a href="javascript:void(0);" (click)="showtermsploicy('policy')">PRIVACY</a>
        </span>
    </div>

  </div>

</ion-content>
