<ion-header class="login-header ">
  <ion-navbar class="login-top" hideBackButton>
    <div class="login-wrapper">
      <div class="mobile-top-con">
        <div class="mobile-menu show">
          <button class="navmenur" (click)="openmenu()" menuToggle="right" hidden="false">
            <ion-icon name="menu"></ion-icon>
          </button>
          <button class="navmenul hide" menuToggle="left" hidden="true">
            <ion-icon name="menu"></ion-icon>
          </button>
        </div>
        <div class="logo">
          <a [navPush]="homepage"> <img src="images/logo_main.png" alt="#"></a>
        </div>
        <div class="logout">
          <a [navPush]="updateprofilepage"><img src="images/gear2.png"></a>
        </div>
      </div>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="experience-wrapper forum-page">
    <div class="forumpress-table">
      <h2><a style="font-size:30px;" href="javascript:void(0);">Discussion Forums</a></h2>
      <div class="clear"></div>
      <div style="margin-top: 15px;" class="top-heading" *ngIf="loggedinuser">Welcome {{userdetails.fname}} {{userdetails.lname}}</div>
      <div style="margin-top: 15px;" class="top-heading" *ngIf="!loggedinuser">Guest</div>

      <div class="rowone" *ngIf="loggedinuser">

        <div class="left-img1">
          <img width="100px" alt="#" src="{{userdetails.user_image}}" style="width: 60px; height: 60px;">
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <h2 *ngIf="isLoad">
        <span style="font-size:20px; letter-spacing:0px; padding:12px 0 0 0;">
          <a href="javascript:void(0)" style="font-size: 20px;" [navPush]="forumpage">Forum</a>
          <label>»</label>
        </span>
        <span style="font-size:20px; letter-spacing:0px; padding:12px 0 0 0;">
          <a href="javascript:void(0)" style="font-size: 20px;"  [navPush]="forumlistpage"  [navParams]="{id: forumdet.parent_id,title: forumdet.parent_name}">{{forumdet.parent_name}}</a>
          <label>»</label>
        </span>
        <span style="font-size:20px; letter-spacing:0px; padding:12px 0 0 0;">
          <a href="javascript:void(0)" style="font-size: 20px;">{{forumdet.name}}</a>
        </span>
      </h2>

      <a *ngIf="loggedinuser" href="javascript:void(0)" class="NewTopic-btn" [navPush]="topicnewpage" [navParams]="{id:forumid}">New Topic</a>

      <div class="clear"></div>
      <div *ngIf="isLoad" style="display: table;">
        <div class="top-row">
          <div class="div1 forum-details-div1" style="border:none; padding:0 2%; height:auto;">{{forumdet.name}}</div>

          <div class="div2 forum-details-div2" style="border:none;  padding:0 2%; height:auto;">REPLIES</div>

          <div class="div3 forum-details-div3" style="border:none;  padding:0 2%; height:auto;">VIEWS</div>

          <div class="div4 forum-details-div4" style="border:none;  padding:0 2%; height:auto;">LATEST POST</div>

          <div class="clear"></div>
        </div>

        <div class="table-row2" *ngFor="let item of forumdet.topicList; let i = index">

          <div class="div1 forum-details-div1">
            <div class="teable-text">
              <span style="margin-bottom: 8px; display: block;" class="topicTitle">
                <a style="font-size:14px!important; font-weight:700!important;" href="javascript:void(0)" [navPush]="topicdetailspage" [navParams]="{id:item.id}">{{item.title}}</a>
              </span>
              <small style="display:block; padding-bottom: 8px;" *ngIf="item.user_id == loggedinuser" class="adminActions">
                <a href="javascript:void(0)" (click)="movetopic(item)">Move Topic</a> | <a href="javascript:void(0);" (click)="deletetopic(item)">Delete Topic</a>
              </small>
              <div class="topic-meta" style="font-size: 14px;">posted by <strong>{{item.user_name}}</strong> on {{item.time}}</div>
            </div>
          </div>

          <div class="div2 forum-details-div2">
            <div style="display:block; line-height: 100px; " class="teable-text">
              <span>{{item.reply}}</span>
            </div>
          </div>

          <div class="div3 forum-details-div3">
            <div style="display:block; line-height: 100px; " class="teable-text">
              <span>{{item.no_of_view}}</span>
            </div>
          </div>

          <div class="div4 forum-details-div4" style="border-right:none;">
            <div class="teable-text">
              <a href="javascript:void(0)" style="font-size:14px;" class="forumlink"  [navPush]="topicdetailspage" [navParams]="{id:item.id}">{{item.lpost_desc}}</a>
              <div style="padding-top: 8px;" class="forumdate">
                <strong>{{item.lpost_time}} -</strong>
                {{item.lpost_uname}}
              </div>
            </div>
          </div>

          <div class="clear"></div>

        </div>
      </div>

    </div>


    <div class="clear"></div>
    <div class="footer-menu1">
      <span>©TORKQ</span>
      <span>|</span>
      <span>
            <a href="javascript:void(0);" (click)="showtermsploicy('terms')">TERMS </a>
        </span>
      <span>|</span>
      <span>
            <a href="javascript:void(0);" (click)="showtermsploicy('policy')">PRIVACY</a>
        </span>
    </div>

  </div>

</ion-content>
