<ion-header class="login-header ">
    <ion-navbar class="login-top" hideBackButton>
            <div class="login-wrapper">
                <div class="mobile-top-con">
                    <div class="mobile-menu show">
                        <button class="navmenur" (click)="openmenu()" menuToggle="right" hidden="false">
                        <ion-icon name="menu"></ion-icon>
                        </button>
                        <button class="navmenul hide" menuToggle="left" hidden="true">
                        <ion-icon name="menu"></ion-icon>
                        </button>
                    </div>
                    <div class="logo">
                        <a href="javascript:void(0)"> <img src="images/logo_main.png" alt="#"></a>
                    </div>
                    <div class="logout">
                        <a [navPush]="updateprofilepage"><img src="images/gear2.png"></a>
                    </div>
                </div>
            </div>
    </ion-navbar>
</ion-header>


<ion-content padding class="getting-started contentwrapper has-header hide has-subheader">


    <div class="experience-wrapper">
        <div class="movile-tab-body">
            <ul>
                <li><a href="javascript:void(0)" [navPush]="addroutespage">GPS</a></li>
                <li class="ng-hide"><a href="javascript:void(0)" (click)="opencamera5()">CAMERA</a></li>
                <!--<li class="ng-hide"><input type="button" value="CAMERA" class="browsebtn">
                </li>-->
            </ul>
        </div>
        <div class="stats-slider">
            <h4>Stats</h4>
            <ion-slides [options]="mySlideOptions">
                <ion-slide class="Stats-slider-contain" *ngFor="let item of statdata; let i = index">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#DFE2E2 !important;">
                            <tbody>
                            <tr>
                                <th colspan="4" class="ng-binding">{{item.sport_name}}</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="strongtext ng-binding">{{item.total_dis}}</div><div class="spantext">Distance</div>
                                </td>
                                <td>
                                    <div class="strongtext ng-binding">{{item.total_time}}</div><div class="spantext">Time</div>
                                </td>
                                <td>
                                    <div class="strongtext ng-binding">{{item.activity_no}}</div><div class="spantext">Activities</div>
                                </td>
                                <td>
                                    <div class="strongtext ng-binding">{{item.event_no}}</div><div class="spantext">Events</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                </ion-slide>
            </ion-slides>
        </div>
        <div class="status-menu">
            <div class="text-box" id="text-box">
                <img id="loading_indicator" ngClass="{{addhideclass(getExactRunning)}}" src="images/ajax_loading.gif" width="16" height="11">
                <div class="highlightTextarea" style="float: none; vertical-align: text-bottom; width: 100%; height: 58px ! important;">
                    <div class="highlightTextarea-container" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0px; top: 0px; left: 0px; width: 88%; height: 58px;">
                        <div class="highlightTextarea-highlighter" style="font-size: 15px; font-family: Arial,Helvetica,sans-serif; font-style: normal; font-weight: 400; font-variant: normal; font-stretch: normal; vertical-align: text-bottom; word-spacing: 0px; text-align: start; letter-spacing: 0px; text-rendering: optimizelegibility; width: 88px; height: 58px; top: 0px; left: 0px;">

                        </div>
                    </div>
                    <div class="statusuparea" id="statusuparea" contenteditable="true" (focus)="isStatusInput = true" placeholder="STATUS UPDATE" (keypress)="texthighlight($event)" (keydown)="texthighlight($event)" (keyup)="texthighlight($event); changestatustext($event.target.innerText);" style="position: absolute; left: 0; top: 0;"></div>
                </div>

            </div>
            <div class="menu1">
                <a href="javascript:void(0);" (click)="openvideodiv()" style="color: #fff;">+<br>VIDEO</a>
            </div>
            <div class="menu2">
                <a href="javascript:void(0);" (click)="openphotodiv()" style="color: #fff;">+<br>Photo</a>
            </div>
            <div class="clear"></div>
        </div>
        <div id="extracted_url"></div>
        <div class="status-input" id="statusinput">
            <div ngClass="{{addhideclass(isStatusInput)}}">
                <a href="javascript:void(0);" (click)="showtagPeople()"><img src="images/adduser_new2.png" width="25" height="17" style="display:inline; width: 25px; margin:5px 0 0 14px;"></a>
            </div>

            <div *ngIf="isPhoto" style="padding-bottom: 15px;" class=" browsephoto">
                <input type="button" class="browsebtn" value="Click To Browse" (click)="addPhoto()">
            </div>
            <div  *ngIf="photoval" style="position: relative;">
                <img *ngIf="rotating" src="images/loading_list.gif" style="position: absolute;top:50%; left: 56px;">
                <img *ngIf="filepath"  [src]="filepath" />
            </div>

            <div *ngIf="isVideo" class="videobrowse">
                    <form name="signUpForm" id="signUpForm" class="form-horizontal ng-pristine ng-valid">
                        <input type="text" placeholder="Type to search YouTube" (keyup)="getytsearchkey($event.target.value)" class="searchbox"><br>
                        <input type="button" value="search" class="searchbtn" (click)="ytvideoseacrh()">
                    </form>
                    <div class="btnor">OR</div>
                    <input class="browsebtn" type="button" value="Click To Browse" (click)="addVideo()">
           </div>
            <div *ngIf="videoval">
                <video width="100%" controls *ngIf="videopath">
                    <source [src]="videopath" type="video/mp4">
                </video>
            </div>
            <div *ngIf="youtubeval" class="youtubeVideo2">
                <div style="margin-bottom:10px; position: relative;" (click)="launchVideo1(statusvalue)">
                    <img src="https://i.ytimg.com/vi/{{statusvalue}}/mqdefault.jpg" width="100%">
                    <img src="images/youtube-playbtn.png" class="paly_video" style="cursor:pointer;">
                </div>
            </div>
            <div ngClass="{{addhideclass(isStatusInput)}}">
              <div>
                    <select id="share_with" (change)="changesharewith($event.target.value)">
                        <option value="1">Community</option>
                        <option value="2">Friends</option>
                        <option value="3">Friends Of Friends</option>
                        <option value="4">Private Me Only</option>
                    </select>

                  <input class="lrotbtn" *ngIf="photoval" (click)="imgRotate(1)" style="background: transparent url('images/rtal.png') no-repeat scroll 0% 0% ! important; height: 32px; width: 112px;" type="button">
                  <input class="rrotbtn" *ngIf="photoval" (click)="imgRotate(2)" style="background: transparent url('images/rtar.png') no-repeat scroll 0% 0% ! important; height: 32px; width: 112px;" type="button">
                    <button class="postbtn1" (click)="statuscancel()">cancel</button>
                    <button class="postbtn2" (click)="statusupdate()">post</button>
                    <div class="clear"></div>
              </div>
           </div>
        </div>
        <div class="clear"></div>

        <div id="tabs">
            <div class="btntablist">
                <button class="btntab active">Social</button>
                <button class="btntab" [navPush]="profileeventlistpage">Events</button>
                <button class="btntab" [navPush]="profilegrouppage">Groups</button>
                <button class="btntab" [navPush]="profilestatpage">stats</button>
            </div>
            <div id="mainView">
                <div class="blog1" *ngFor="let item of statusdata; let i = index" >
                    <div class="left-img">
                        <img width="50" height="50" alt="" src="{{item.user_image}}?v={{index}}">
                        <div class="mobile-name-view">
                            <strong>{{item.user_name}}</strong>
                            <a style="color: #333333 !important;" *ngIf="item.tagpeople.length"> - with </a>
                            <a  *ngIf="item.tagpeople.length" href="javascript:void(0);" style="font-weight: bold; color: #333333 !important;">{{item.tagpeople1}}</a>
                            <a style="color: #333333 !important;" *ngIf="item.tagpeople.length > 1"> and </a>
                            <a *ngIf="item.tagpeople.length == 2" href="javascript:void(0)" style="font-weight: bold; color: #333333 !important;">{{item.tagpeople2}}</a>
                            <a *ngIf="item.tagpeople.length > 2" href="javascript:void(0)" style="font-weight: bold; color: #333333 !important;" (click)="showtagPeople1(item)">{{item.tagpeople.length-1}} others</a>
                            <br>
                            <span>{{item.timespan}}</span>
                        </div>
                        <div class="clear"></div>
                        <img class="closeBtn" src="images/deletebutton.png" width="11" height="11" style="display: block; cursor: pointer;" *ngIf="item.user_id == item.c_user" (click)="delstatus(item)">
                    </div>
                    <div class="text-contain1" *ngIf="item.msg" innerHTML="{{item.msg}}">
                        <!--<a href="http://lipsum.com/" target="_blank">http://lipsum.com/</a>
                        <div class="extracted_url extracted_url2">
                            <div class="extracted_thumb">
                                <img src="images/3.jpg">
                            </div>
                            <div class="extracted_content">
                                <h4>
                                    <a href="http://lipsum.com/" target="_blank">Lorem Ipsum - All the facts - Lipsum generator</a>
                                </h4>
                                <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>-->
                    </div>
                    <div class="text-contain" *ngIf=" item.type=='image' ">
                        <div class="blogimg">
                            <img style="position:absolute; margin-top:-2px; background: none;" alt="" src="images/arrow.png" width="54" height="28">
                            <img src="{{item.s_img}}?version={{cdatetime}}" style="cursor: pointer;" alt="" class="imgresponsive" (click)="showPhotoDetails(item)">
                        </div>
                    </div>
                    <div class="text-contain" *ngIf="item.type=='youtube' ">
                        <div class="blogimg"  style="position: relative;">
                            <!--<youtube-video class="embed-responsive-item" video-id="item.value"></youtube-video>-->
                            <img src="http://torqkd.com/user/ajs1/createimage?image={{item.s_img}}" width="100%" (click)="launchVideo1(item.value)">
                            <img src="images/youplay.png" width="20%" class="paly_video" style="cursor:pointer; width: 20%; z-index: 100; top: 40%; position: absolute; left: 40%;" (click)="launchVideo1(item.value)">

                            <!--<iframe width="99%" height="99%" src='https://www.youtube.com/embed/{{item.value}}' frameborder="0" allowfullscreen></iframe>-->
                        </div>


                    </div>

                    <div class="text-contain" *ngIf=" item.type=='route' ">

                        <div class="rowone">
                            ROAD <br>
                            <img src="images/1397129075.png" style="max-width: 46px;" alt="">
                        </div>
                        <div class="rowtwo">
                            <h2>{{item.routes.route_name}}</h2>
                            <div class="date-contain">
                                <h5>
                                    <span>DATE</span><br>
                                    08/26/2016
                                </h5>
                                <h5>
                                    <span>TIME</span><br>
                                    00:04:01
                                </h5>
                                <h5>
                                    <span>DISTANCE</span><br>
                                    1.200 miles
                                </h5>

                            </div>
                        </div>
                        <div class="clear"></div>
                        <div style="height: 400px;width: 100%;" class="map-canvas-profile{{item.id}}"  id="map22{{item.id}}" >

                        </div>



                    </div>
                    <div class="text-contain" *ngIf=" item.type=='mp4' ">

                        <div class="blogimg"   style="position: relative;" id="youtubeBody{{item.id}}">
                            <!--<youtube-video class="embed-responsive-item" video-id="item.value"></youtube-video>-->
                            <img src="http://torqkd.com/user/ajs1/createimage?image={{item.s_img}}" width="100%">
                            <img (click)="launchVideo(item.value,item.s_img)" src="images/youplay.png" width="20%" class="paly_video" ng-click="showYoutubevdo(item.id,item.value)" style="cursor:pointer; width: 20%; z-index: 100; top: 40%; position: absolute; left: 40%;">
                        </div>
                    </div>

                    <div class="bottom-like-contain">
                        <div class="linknew-box">
                            <ul>
                                <li class="commend-div">
                                    <a href="javascript:void(0);">
                                        <img src="images/n1.png" (click)="toogleComment(item)" alt="" height="20" width="20">
                                    </a>
                                </li>
                                <li><a href="javascript:void(0);">
                                    <img ng-src="images/n2.png" *ngIf="item.is_like==0" alt="" width="20" height="20" (click)="updatelike(item.id)" src="images/n2.png">
                                    <img *ngIf="item.is_like==1" class="fbactive" alt="" width="20" height="20"  (click)="updatelike(item.id)" src="images/n2-1.png">
                                </a></li>
                                <li><a href="javascript:void(0);" (click)="showSocilaShareList(item)"><img src="images/n3.png" alt="" width="20" style="margin-top:2px;"></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="like-con2">
                            <span *ngIf="loggedinuser == item.user_id" style="width:auto; display:inline; padding:0 4px; width:44px; float:none;">
                                <a href="javascript:void(0)" style="text-decoration:none; outline:none; float:none;" (click)="changesharewithhtml(item)">
                                    <img src="images/share1_icon_active.png" style="width:18px; margin-top:-2px;" *ngIf="item.share_with==1">
                                    <img src="images/share2_icon_active.png" style="width:15px; margin-top:0px;"  *ngIf="item.share_with==2">
                                    <img src="images/share3_icon_active.png" style="width:18px; margin-top:0px;" *ngIf="item.share_with==3">
                                    <img src="images/share4_icon_active.png" style="width:12px; margin-top:0px;" *ngIf="item.share_with==4">
                                    <img src="images/ad2new.png" style="padding-bottom:4px;">
                                </a>
                            </span>
                            <span style="width:auto; display:inline; padding:0 4px; float:none;" *ngIf="loggedinuser != item.user_id">
                                <a href="javascript:void(0)" style="text-decoration:none; outline:none; float:none;">
                                    <img src="images/share1_icon_active.png" style="width:18px; margin-top:-2px;" *ngIf="item.share_with==1">
                                    <img src="images/share2_icon_active.png" style="width:15px; margin-top:0px;"  *ngIf="item.share_with==2">
                                    <img src="images/share3_icon_active.png" style="width:18px; margin-top:0px;" *ngIf="item.share_with==3">
                                    <img src="images/share4_icon_active.png" style="width:12px; margin-top:0px;" *ngIf="item.share_with==4">
                                </a>
                            </span>
                            <label style=" float:none;">{{item.like_no}} LIKE -  {{item.comment_no}}</label>
                            <a href="javascript:void(0);" (click)="toogleComment(item)" style=" float:none;"> &nbsp; Comment</a>
                        </div>
                        <div class="commend-box-pro hide" style="padding-left: 0px; padding-right: 0px; display: block;">
                            <div class="commendboxpro">
                                <div class="profile-img2" style="width: 38px; margin: 0 5px 0 0;">
                                    <img src="images/imgcomment.jpg">
                                </div>
                                <div class="popup-text-box1">
                                    <div class="commentemo">
                                        <div class="commentemoinnertextarea" contenteditable="true"></div>
                                        <a href="javascript:void(0)">
                                            <img src="images/emo.png" width="22" height="22" class="emocss" style="background:none; width:22px;">
                                        </a>
                                        <a class="mob-post2" href="javascript:void(0);" style="margin-top:8px; margin-right:0px;">POST</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


               <!-- <div class="blog2">
                    <div class="left-img">
                        <img width="50" height="50" alt="" src="images/createimage.jpg">
                        <div class="mobile-name-view">
                            <strong>mdfgdf dfgdf</strong>
                            <br>
                            <span>22 minutes ago</span>
                        </div>
                        <div class="clear"></div>
                        <img class="closeBtn" src="images/deletebutton.png" width="11" height="11">
                    </div>
                    <div class="text-contain">
                        <a href="http://lipsum.com/" target="_blank">http://lipsum.com/</a>
                        <div class="extracted_url extracted_url2">
                            <div class="extracted_thumb">
                                <img src="http://lipsum.com/banners/ding.png">
                            </div>
                            <div class="extracted_content">
                                <h4>
                                    <a href="http://lipsum.com/" target="_blank">Lorem Ipsum - All the facts - Lipsum generator</a>
                                </h4>
                                <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="bottom-like-contain">
                        <div class="linknew-box">
                            <ul>
                                <li class="commend-div">
                                    <a href="javascript:void(0);">
                                        <img src="images/n1.png" alt="" height="20" width="20">
                                    </a>
                                </li>
                                <li><a href="javascript:void(0);"><img ng-src="images/n2.png" alt="" width="20" height="20" src="images/n2.png"></a></li>
                                <li><a href="javascript:void(0);"><img src="images/n3.png" alt="" width="20" style="margin-top:2px;"></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="like-con2">
                            <span class="dropdown">
                                <a data-toggle="dropdown"><img src="images/share3_icon_active.png"><img src="images/ad2new.png" style="padding-left:4px;"></a>
                                &lt;!&ndash; <ul class="dropdown-menu">
                                     <li><a href="#">HTML</a></li>
                                     <li><a href="#">CSS</a></li>
                                     <li><a href="#">JavaScript</a></li>
                                 </ul>&ndash;&gt;
                            </span>
                            <label>0 LIKE - </label>
                            <a href="javascript:void(0);"> 0 Comment</a>
                        </div>
                    </div>
                </div>
                <div class="blog1">
                    <div class="left-img">
                        <img width="50" height="50" alt="" src="images/createimage.jpg">
                        <div class="mobile-name-view">
                            <strong>mdfgdf dfgdf</strong>
                            <br>
                            <span>22 minutes ago</span>
                        </div>
                        <div class="clear"></div>
                        <img class="closeBtn" src="images/deletebutton.png" width="11" height="11">
                    </div>
                    <div class="text-contain">
                        <a href="javascript:void(0);" target="_blank" class="hastagLink">#text</a>
                    </div>
                    <div class="bottom-like-contain">
                        <div class="linknew-box">
                            <ul>
                                <li class="commend-div">
                                    <a href="javascript:void(0);">
                                        <img src="images/n1.png" alt="" height="20" width="20">
                                    </a>
                                </li>
                                <li><a href="javascript:void(0);"><img ng-src="images/n2.png" alt="" width="20" height="20" src="images/n2.png"></a></li>
                                <li><a href="javascript:void(0);"><img src="images/n3.png" alt="" width="20" style="margin-top:2px;"></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="like-con2">
                            <span class="dropdown">
                                <a data-toggle="dropdown"><img src="images/share3_icon_active.png"><img src="images/ad2new.png" style="padding-left:4px;"></a>
                                &lt;!&ndash; <ul class="dropdown-menu">
                                     <li><a href="#">HTML</a></li>
                                     <li><a href="#">CSS</a></li>
                                     <li><a href="#">JavaScript</a></li>
                                 </ul>&ndash;&gt;
                            </span>
                            <label>0 LIKE - 0</label>
                            <a href="javascript:void(0);">Comment</a>
                        </div>
                    </div>
                </div>
                <div class="blog2">
                    <div class="left-img">
                        <img width="50" height="50" alt="" src="images/createimage.jpg">
                        <div class="mobile-name-view">
                            <strong>mdfgdf dfgdf</strong>
                            <br>
                            <span>22 minutes ago</span>
                        </div>
                        <div class="clear"></div>
                        <img class="closeBtn" src="images/deletebutton.png" width="11" height="11">
                    </div>
                    <div class="text-contain">
                        <img style="position:absolute; margin-top:-2px;" alt="" src="images/arrow.png" width="54" height="28">
                        <video controls="controls" src="http://torqkd.com/uploads/video/converted/1472802916_265805129.mp4" type="video/mp4"></video>
                    </div>
                    <div class="bottom-like-contain">
                        <div class="linknew-box">
                            <ul>
                                <li class="commend-div">
                                    <a href="javascript:void(0);">
                                        <img src="images/n1.png" alt="" height="20" width="20">
                                    </a>
                                </li>
                                <li><a href="javascript:void(0);"><img ng-src="images/n2.png" alt="" width="20" height="20" src="images/n2.png"></a></li>
                                <li><a href="javascript:void(0);"><img src="images/n3.png" alt="" width="20" style="margin-top:2px;"></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="like-con2">
                            <span class="dropdown">
                                <a data-toggle="dropdown"><img src="images/share3_icon_active.png"><img src="images/ad2new.png" style="padding-left:4px;"></a>
                                &lt;!&ndash; <ul class="dropdown-menu">
                                     <li><a href="#">HTML</a></li>
                                     <li><a href="#">CSS</a></li>
                                     <li><a href="#">JavaScript</a></li>
                                 </ul>&ndash;&gt;
                            </span>
                            <label>0 LIKE - 0</label>
                            <a href="javascript:void(0);">Comment</a>
                        </div>
                    </div>
                </div>
                <div class="blog1">
                    <div class="left-img">
                        <img width="50" height="50" alt="" src="images/createimage.jpg">
                        <div class="mobile-name-view">
                            <strong>mdfgdf dfgdf</strong>
                            <br>
                            <span>22 minutes ago</span>
                        </div>
                        <div class="clear"></div>
                        <img class="closeBtn" src="images/deletebutton.png" width="11" height="11">
                    </div>
                    <div class="text-contain">
                        <img style="position:absolute; margin-top:-2px;" alt="" src="images/arrow.png" width="54" height="28">
                        <div class="video-container-wrapper">
                            &lt;!&ndash;<iframe src=""></iframe>&ndash;&gt;
                            <img src="images/createimage2.jpg" width="100%;">
                            <img src="images/youplay.png" class="play_youtybe">
                        </div>
                    </div>
                    <div class="bottom-like-contain">
                        <div class="linknew-box">
                            <ul>
                                <li class="commend-div">
                                    <a href="javascript:void(0);">
                                        <img src="images/n1.png" alt="" height="20" width="20">
                                    </a>
                                </li>
                                <li><a href="javascript:void(0);"><img ng-src="images/n2.png" alt="" width="20" height="20" src="images/n2.png"></a></li>
                                <li><a href="javascript:void(0);"><img src="images/n3.png" alt="" width="20" style="margin-top:2px;"></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="like-con2">
                            <span class="dropdown">
                                <a data-toggle="dropdown"><img src="images/share3_icon_active.png"><img src="images/ad2new.png" style="padding-left:4px;"></a>
                                &lt;!&ndash; <ul class="dropdown-menu">
                                     <li><a href="#">HTML</a></li>
                                     <li><a href="#">CSS</a></li>
                                     <li><a href="#">JavaScript</a></li>
                                 </ul>&ndash;&gt;
                            </span>
                            <label>0 LIKE - 0</label>
                            <a href="javascript:void(0);">Comment</a>
                        </div>
                    </div>
                </div>
                <div class="blog2">
                    <div class="left-img">
                        <img width="50" height="50" alt="" src="images/createimage.jpg">
                        <div class="mobile-name-view">
                            <strong>mdfgdf dfgdf</strong>
                            <br>
                            <span>22 minutes ago</span>
                        </div>
                        <div class="clear"></div>
                        <img class="closeBtn" src="images/deletebutton.png" width="11" height="11">
                    </div>
                    <div class="text-contain">
                        <div class="blogimg">
                            <img style="position:absolute; margin-top:-2px;" alt="" src="images/arrow.png" width="54" height="28">
                           <img src="images/createimage1.jpg" style="cursor: pointer;" alt="" class="imgresponsive">
                        </div>
                    </div>
                    <div class="bottom-like-contain">
                        <div class="linknew-box">
                            <ul>
                                <li class="commend-div">
                                    <a href="javascript:void(0);">
                                        <img src="images/n1.png" alt="" height="20" width="20">
                                    </a>
                                </li>
                                <li><a href="javascript:void(0);"><img ng-src="images/n2.png" alt="" width="20" height="20" src="images/n2.png"></a></li>
                                <li><a href="javascript:void(0);"><img src="images/n3.png" alt="" width="20" style="margin-top:2px;"></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="like-con2">
                            <span class="dropdown">
                                <a data-toggle="dropdown"><img src="images/share3_icon_active.png"><img src="images/ad2new.png" style="padding-left:4px;"></a>
                                &lt;!&ndash; <ul class="dropdown-menu">
                                     <li><a href="#">HTML</a></li>
                                     <li><a href="#">CSS</a></li>
                                     <li><a href="#">JavaScript</a></li>
                                 </ul>&ndash;&gt;
                            </span>
                            <label>0 LIKE - 0</label>
                            <a href="javascript:void(0);">Comment</a>
                        </div>
                    </div>
                </div>
                <div class="blog1">
                    <div class="left-img">
                        <img width="50" height="50" alt="" src="images/createimage.jpg">
                        <div class="mobile-name-view">
                            <strong>mdfgdf dfgdf</strong>
                            <br>
                            <span>22 minutes ago</span>
                        </div>
                        <div class="clear"></div>
                        <img class="closeBtn" src="images/deletebutton.png" width="11" height="11">
                    </div>
                    <div class="text-contain">
                        <a href="javascript:void(0);" target="_blank">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</a>
                    </div>
                    <div class="bottom-like-contain">
                        <div class="linknew-box">
                            <ul>
                                <li class="commend-div">
                                    <a href="javascript:void(0);">
                                        <img src="images/n1.png" alt="" height="20" width="20">
                                    </a>
                                </li>
                                <li><a href="javascript:void(0);"><img ng-src="images/n2.png" alt="" width="20" height="20" src="images/n2.png"></a></li>
                                <li><a href="javascript:void(0);"><img src="images/n3.png" alt="" width="20" style="margin-top:2px;"></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="like-con2">
                            <span class="dropdown">
                                <a data-toggle="dropdown"><img src="images/share3_icon_active.png"><img src="images/ad2new.png" style="padding-left:4px;"></a>
                                &lt;!&ndash; <ul class="dropdown-menu">
                                     <li><a href="#">HTML</a></li>
                                     <li><a href="#">CSS</a></li>
                                     <li><a href="#">JavaScript</a></li>
                                 </ul>&ndash;&gt;
                            </span>
                            <label>0 LIKE - 0</label>
                            <a href="javascript:void(0);">Comment</a>
                        </div>
                    </div>
                </div>
                <div class="blog2">
                    <div class="left-img">
                        <img width="50" height="50" alt="" src="images/createimage.jpg">
                        <div class="mobile-name-view">
                            <strong>mdfgdf dfgdf</strong>
                            <br>
                            <span>22 minutes ago</span>
                        </div>
                        <div class="clear"></div>
                        <img class="closeBtn" src="images/deletebutton.png" width="11" height="11">
                    </div>
                    <div class="text-contain">
                        <div class="rowone">
                            MOUNTAIN <br>
                            <img src="images/1398763698.png" style="max-width: 46px;" alt="">
                        </div>
                        <div class="rowtwo">
                            <h2>Ghiohg</h2>
                            <div class="date-contain">
                                <h5>
                                    <span>DATE</span><br>
                                    08/26/2016
                                </h5>
                                <h5>
                                    <span>TIME</span><br>
                                    00:14:53
                                </h5>
                                <h5>
                                    <span>DISTANCE</span><br>
                                    8.173 miles
                                </h5>
                            </div>
                        </div>
                        <div class="mapwrapper">
                            <img src="images/map.png">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom-like-contain">
                        <div class="linknew-box">
                            <ul>
                                <li class="commend-div">
                                    <a href="javascript:void(0);">
                                        <img src="images/n1.png" alt="" height="20" width="20">
                                    </a>
                                </li>
                                <li><a href="javascript:void(0);"><img ng-src="images/n2.png" alt="" width="20" height="20" src="images/n2.png"></a></li>
                                <li><a href="javascript:void(0);"><img src="images/n3.png" alt="" width="20" style="margin-top:2px;"></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="like-con2">
                            <span class="dropdown">
                                <a data-toggle="dropdown"><img src="images/share3_icon_active.png"><img src="images/ad2new.png" style="padding-left:4px;"></a>
                                &lt;!&ndash; <ul class="dropdown-menu">
                                     <li><a href="#">HTML</a></li>
                                     <li><a href="#">CSS</a></li>
                                     <li><a href="#">JavaScript</a></li>
                                 </ul>&ndash;&gt;
                            </span>
                            <label>0 LIKE - 0</label>
                            <a href="javascript:void(0);">Comment</a>
                        </div>
                    </div>
                </div>-->


                <span class="empty"></span>
                <div class="viewMore">
                    <a href="javascript:void(0);" (click)="ionViewDidEnter()" class="">View More</a>
                </div>
            </div>




        </div>

        <div class="stats-slider-bottom">
            <ion-slides [options]="mySlideOptions2">
                <ion-slide *ngFor="let item of banner1data; let i = index" class="Stats-slider-bottom-contain1">
                    <a hre="javascript:void(0);"><img  (click)="launch(item.banner_url)" src="http://torqkd.com/user/ajs1/getiamgeencode?image=http://torqkd.com/uploads/advertise_image/thumb/{{item.b_image}}"></a>
                </ion-slide>
                <!--<ion-slide class="Stats-slider-bottom-contain1">
                    <a hre="javascript:void(0);"><img src="images/createimage.jpg"></a>
                </ion-slide>
                <ion-slide class="Stats-slider-bottom-contain1">
                    <a hre="javascript:void(0);"><img src="images/3.jpg"></a>
                </ion-slide>-->
            </ion-slides>
            <ion-slides [options]="mySlideOptions3">
                <ion-slide *ngFor="let item of banner2data; let i = index" class="Stats-slider-bottom-contain2">
                    <a hre="javascript:void(0);"><img (click)="launch(item.banner_url)" src="http://torqkd.com/user/ajs1/getiamgeencode?image=http://torqkd.com/uploads/advertise_image/thumb/{{item.b_image}}"></a>
                </ion-slide>
            </ion-slides>
        </div>
</div>


    <div class="footer-menu1">
        <span>©TORKQ</span>
        <span>|</span>
        <span>
            <a href="javascript:void(0);" (click)="showtermsploicy('terms')">TERMS </a>
        </span>
        <span>|</span>
        <span>
            <a href="javascript:void(0);" (click)="showtermsploicy('policy')">PRIVACY</a>
        </span>
    </div>


</ion-content>

<!--

<ion-footer>

<div class="footer-menu1 ng-scope">
    <span>©TORKQ</span>
    <span>|</span>
    <span>
<a href="javascript:void(0);" ng-click="showtermsploicy('terms')">TERMS </a>
</span>
    <span>|</span>
    <span>
<a href="javascript:void(0);" ng-click="showtermsploicy('policy')">PRIVACY</a>
</span>
</div>
</ion-footer>-->
