<!--
  Generated template for the FriendsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="login-header ">
  <ion-navbar class="login-top" hideBackButton>
    <div class="login-wrapper">
      <div class="mobile-top-con">
        <div class="mobile-menu show">
          <button class="navmenul" menuToggle="left" hidden="true">
            <ion-icon name="menu"></ion-icon>
          </button>
        </div>
        <div class="logo">
          <a href="#/index"> <img src="images/logo_main.png" alt="#"></a>
        </div>
        <div class="logout">
          <img src="images/gear2.png">
        </div>
      </div>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div style="position:relative;" class="experience-wrapper mysports-page">
    <div class="Sports-mobile">
      <h4>Sports</h4>
      <div style="border: 4px solid #fff; box-shadow: 0 0 2px #888; float: right; margin-top: 2px; width: 88px;">
        <img style="width:100%;" src="{{userImage}}">
      </div>
      <div class="clear"></div>
      <div class="sports-table-mobile">
        <div *ngFor="let item of itemlist; let i = index">
          <h3> {{item.name}}</h3>
          <ul>
            <li *ngFor="let m of item.ch;">
              <a href="javascript:void(0);" style="margin-bottom: 0px;" ><img  alt="#" src="http://torqkd.com/uploads/sports_image/thumb/{{m.image}}" ></a>
              <strong> {{m.name}}</strong>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <div class="clear"></div>
    <div class="footer-menu1">
      <span>&copy;TORKQ</span>
      <span>|</span>
      <span><a ng-click="showtermsploicy('terms')" href="javascript:void(0);">TERMS </a></span>
      <span>|</span>
      <span><a ng-click="showtermsploicy('policy')" href="javascript:void(0);">PRIVACY</a></span>
    </div>

  </div>

</ion-content>
