<ion-header class="commentheader">

  <ion-nav-bar class="btnwrapper">
    <ion-nav-back-button class="button-clear btnback" (click)="goback()">
      Back
    </ion-nav-back-button>
  </ion-nav-bar>

</ion-header>


<ion-content padding class="commentwrapper" >
  <div class="commend-box-pro-inner" *ngFor="let item of items.commentList; let i = index">
    <div class="commend-box">
      <div class="com-img">
        <img src="{{item.user_image}}" alt="">
      </div>
      <div class="combodyu">
        <div class="date-link">
          <a href="javascript:void(0)">{{item.time}}</a>
          <img class="closeCBtn" src="images/deletebutton1.png" width="11" height="11" *ngIf="item.user_id == items.cUserId" (click)="delcomment(item)">
        </div>
        <div class="nprofilename2">
          <strong>
            <a href="#" class="name_a" style="font-weight:bold;">{{item.user_name}}</a>
          </strong>
        </div>
        <div class="clearfix"></div>
        <div class="combodyuinnertext" [innerHTML]="getsanitizedcontent(item.body)">
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</ion-content>

<ion-footer *ngIf="items.cUserId">
  <div class="commentfooter">
    <div class="commendboxpro">
      <div class="profile-img2" style="width: 38px; margin: 0 5px 0 0;">
        <img src="{{items.cUserImage}}">
      </div>
      <div class="popup-text-box1">
        <div class="commentemo">
          <div class="commentemoinnertextarea" id="commentemoinnertextarea" contenteditable="true"></div>
          <a href="javascript:void(0)" (click)="showemojidiv()">
            <img src="images/emo.png" width="22" height="22" class="emocss" style="background:none; width:22px;">
          </a>
          <a class="mob-post2" href="javascript:void(0);" style="margin-top:16px; margin-right:0px;" (click)="addComment()">POST</a>
        </div>
      </div>
    </div>
    <div style="display: none; background-color: #ffffff; padding: 5px; max-height: 300px; overflow: auto;" id="emojisdiv">
      <div class="emojisdiv">
        <a *ngFor="let emoitem of emojisArr; let j = index" href="javascript:void(0)" class="emoticon emoticon-{{emoitem}}" (click)="emoinsert(emoitem)" title="::{{emoitem}}::" ></a>
      </div>
    </div>
  </div>
</ion-footer>





