<ion-header class="login-header ">
    <ion-navbar class="login-top" hideBackButton>
            <div class="login-wrapper">
                <div class="mobile-top-con">
                    <div class="mobile-menu show">
                        <button class="navmenur" (click)="openmenu()" menuToggle="right" hidden="false">
                        <ion-icon name="menu"></ion-icon>
                        </button>
                        <button class="navmenul hide" menuToggle="left" hidden="true">
                        <ion-icon name="menu"></ion-icon>
                        </button>
                    </div>
                    <div class="logo">
                        <a [navPush]="homepage"> <img src="images/logo_main.png" alt="#"></a>
                    </div>
                    <div class="logout">
                        <a [navPush]="updateprofilepage"> <img src="images/gear2.png"></a>
                    </div>
                </div>
            </div>
    </ion-navbar>
</ion-header>

<ion-content  style="background-color: #ffaf36;height:800px">
</ion-content>

<ion-content padding>


    <div class="experience-wrapper friends-profile">

        <div class="top-banner-contain" *ngIf="getuserdetails">
            <div class="usercontain2">
                <div class="user-contain2-img">
                    <img alt="" src="http://torqkd.com/user/ajs1/getiamgeencode?image={{getuserdetails.user_image}}&version={{cdatetime}}">
                </div>
                <div class="usericonimage">
                    <div *ngFor="let item of getuserdetails.user_sports; let i = index" style="float: left; margin-bottom:4px; margin-right: 4px; height: 25px; width: 25px; background-size: cover;" [style.background-image]="getsanitizerstyle(item.imag_name)"></div>
                    <a href="javascript:void(0)" [navPush]="mysportspage" [navParams]="{userid:getuserdetails.id}" class="pliocn" style=" color:#f7931e; text-decoration:none; font-weight:bold; font-size: 20px; display: block;">+</a>
                </div>
            </div>

            <div class="userbanner2">
                <img src="http://torqkd.com/user/ajs1/getiamgeencode?image={{getuserdetails.user_backimage}}&version={{cdatetime}}">
            </div>


            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div id="tabs">
            <div class="btntablist">
                <button class="btntab" [navPush]="friendsprofilepage" [navParams]="{userid:userid}">Social</button>
                <button class="btntab active">Events</button>
                <button class="btntab" [navPush]="friendsgrouprouppage" [navParams]="{userid:userid}">Groups</button>
                <button class="btntab" [navPush]="friendsstatpage" [navParams]="{userid:userid}">stats</button>
            </div>
            <div id="mainView">

                <div class="event-tab" *ngFor="let item of eventlist; let i = index" >
                    <div class="left-part">
                        <h4 style="color:#f79213; font-family: 'reservation'; font-size: 10px;">{{item.sport_name}}</h4>
                        <img alt="#" src="{{item.sport_image}}">
                    </div>
                    <div class="right-part" style="margin-bottom:5px;" >
                        <h1>{{item.name}}</h1>
                        <h3>{{item.address}}</h3>
                        <div class="clear"></div>
                        <div class="date-contain">
                            <span>Date</span>
                            <br />
                            {{item.date}}
                            <br />
                            <span>Time</span>
                            <br />
                            {{item.time}}
                        </div>
                        <div class="event-menu">
                            <a class="viewgrp" href="javascript:void(0)" [navPush]="eventdetailspage" [navParams]="{id:item.id}">View Event</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <span class="empty" *ngIf="!eventcount">No results found.</span>

                <div class="viewMore" *ngIf="eventoffset < totalevent">
                    <a href="javascript:void(0);" (click)="getMoreEvents()" class="">View More</a>
                </div>
            </div>




        </div>

        <div class="stats-slider-bottom">
            <ion-slides [options]="mySlideOptions2">
                <ion-slide *ngFor="let item of banner1data; let i = index" class="Stats-slider-bottom-contain1">
                    <a hre="javascript:void(0);"><img  (click)="launch(item.banner_url)" src="http://torqkd.com/user/ajs1/getiamgeencode?image=http://torqkd.com/uploads/advertise_image/thumb/{{item.b_image}}"></a>
                </ion-slide>
            </ion-slides>
            <ion-slides [options]="mySlideOptions3">
                <ion-slide *ngFor="let item of banner2data; let i = index" class="Stats-slider-bottom-contain2">
                    <a hre="javascript:void(0);"><img (click)="launch(item.banner_url)" src="http://torqkd.com/user/ajs1/getiamgeencode?image=http://torqkd.com/uploads/advertise_image/thumb/{{item.b_image}}"></a>
                </ion-slide>
            </ion-slides>
        </div>
</div>

    <div class="footer-menu1">
        <span>©TORKQ</span>
        <span>|</span>
        <span>
            <a href="javascript:void(0);" (click)="showtermsploicy1('terms')">TERMS </a>
        </span>
        <span>|</span>
        <span>
            <a href="javascript:void(0);" (click)="showtermsploicy1('policy')">PRIVACY</a>
        </span>
    </div>






</ion-content>

