@font-face {
    font-family: 'capture_itregular';
    src: url('../fonts/capture_it-webfont.eot');
    src: url('../fonts/capture_it-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/capture_it-webfont.woff') format('woff'), url('../fonts/capture_it-webfont.ttf') format('truetype'), url('../fonts/capture_it-webfont.svg#capture_itregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'veneerregular';
    src: url('../fonts/veneer-webfont.eot');
    src: url('../fonts/veneer-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/veneer-webfont.woff') format('woff'), url('../fonts/veneer-webfont.ttf') format('truetype'), url('../fonts/veneer-webfont.svg#veneerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'reservation_wideregular';
    src: url('../fonts/reservationwide-regular-webfont.eot');
    src: url('../fonts/reservationwide-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/reservationwide-regular-webfont.woff') format('woff'), url('../fonts/reservationwide-regular-webfont.ttf') format('truetype'), url('../fonts/reservationwide-regular-webfont.svg#reservation_wideregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'reservation_wideblack';
    src: url('../fonts/ufonts.com_reservationwide-black-webfont.eot');
    src: url('../fonts/ufonts.com_reservationwide-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ufonts.com_reservationwide-black-webfont.woff') format('woff'), url('../fonts/ufonts.com_reservationwide-black-webfont.ttf') format('truetype'), url('../fonts/ufonts.com_reservationwide-black-webfont.svg#reservation_wideblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:reservation;
    src: url('../fonts/ufonts.com_reservationwide-black.eot');
    src: url('../fonts/ufonts.com_reservationwide-black.eot?#iefix') format('embedded-opentype'), url('../fonts/ufonts.com_reservationwide-black.woff') format('woff'), url('../fonts/ufonts.com_reservationwide-black.ttf') format('truetype');
    font-weight: normal !important;
    font-style: normal !important;

}
@font-face {
    font-family:'reservation';
    src: url('../fonts/ufonts.com_reservationwide-black.eot');
    src: url('../fonts/ufonts.com_reservationwide-black.eot?#iefix') format('embedded-opentype'), url('../fonts/ufonts.com_reservationwide-black.woff') format('woff'), url('../fonts/ufonts.com_reservationwide-black.ttf') format('truetype');
    font-weight: normal !important;
    font-style: normal !important;

}

a, a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none !important;
    cursor: auto;
}


ion-tabbar{display: none !important;}

.homec{ background: url("../images/bg.jpg") no-repeat center top; background-repeat: no-repeat;
    background-attachment: fixed; background-size: cover;
    overflow: hidden; }

ion-header::after{background-image: none !important;}

.homepage_wrapper{
    background: #edeeee none repeat scroll 0 0;
    box-shadow: 0 8px 20px -2px rgba(10, 9, 10, 1);
    margin: 60px auto;
    padding: 20px 9px;
    position: relative;
    width: 258px;
    z-index: 500;
    margin-bottom: 310px;
}

.homepage_wrapper .logoblock{
    margin: 20px auto;
    padding-bottom: 6px;
    width: 241px;
}
.homepage_wrapper .logoblock img{ width: 100%; max-width: 100%; display: block;}

/*.homepage_wrapper .video-contain {
    border: 6px solid #fff;
    margin: 0 auto ; margin-bottom: 20px!important;
    padding: 0 !important;

    width: 100%; height:100px!important;

}*/

.homepage_wrapper .video-contain {
    /*border: 6px solid #fff;
    margin: 0 auto 10px auto !important;
    padding: 0 !important;
    width: 247px;
    height: 106px;*/
    border: 6px solid #fff;
    margin: 0 auto !important;
    padding: 0 !important;
    width: 100%;
    height: auto;
    margin-bottom: 5px !important;
}

.homepage_wrapper .video-contain img{    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none!important;
}


.homepage_wrapper .text-contain {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 15px 10px 6px 10px;
}


.introbtn button {
    background: #f7931e none repeat scroll 0 0;
    border: 4px solid #fff;
    font-family: "veneerregular";
    font-size: 20px;
    line-height: 40px;
    list-style: outside none none;
    margin: 5px 0;
    padding: 5px 0 0;
    text-align: center;
    width: 100%;
    color: #4f4f51;
    box-shadow: none;
    height: 49px;
    /*background: #f7931e ;
    border: 4px solid #fff;
    font-family: "veneerregular";
    font-size: 20px;
    line-height: 40px;
    list-style: outside none none;
    margin: 5px 0;
    padding: 18px 0 15px 0 ;
    text-align: center; display:block; width:100%;*/
}

.introbtn:hover button{background-color: #f7931e !important; box-shadow: none;}

/*
.homepage_wrapper .linkcontain{margin: 10px auto;
    text-transform: uppercase;
    width: 256px;}*/


.footer-menu1 {
    padding: 20px 0;
    color: #999999 !important;
    text-align: center;
    width: 100%;
    z-index: 0;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dfe2e2;
}

.footer-menu1 span a, .footer-menu1 span a:hover {
    color: #999999 !important;
    text-decoration: none;
    opacity: 1!important;
}
.footer-menu1 span {
    color: #999999 !important;
    display: inline-block;
    padding: 0 5px;
}


/*---login page css----*/

.login-header{background-color: #dfe2e2;}

.login-body {
    margin: 0;
    padding: 0 0 0 0;
    overflow: hidden;
    width: 100%;
    background: url(../images/base_camp1.jpg) center top no-repeat, url(../images/base_camp2.jpg) center 264px no-repeat,url(../images/base_camp3.jpg) center 524px no-repeat,url(../images/base_camp4.jpg) center 788px no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}


.login-body .login-top {
    width: 100%;
    padding: 4px 0;
    background: #ebebeb;
}

.login-body .login-top .login-wrapper {
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
}
.logo {
    margin: 10px auto;
    width: 224px;
}


.login-box {
    width: 320px;
    padding: 16px 10px 38px 10px;
    margin: 50px auto;
    background: #ebebeb;
    border: solid 2px #97989a;
    border-radius: 4px;
    position: relative;
    z-index: 9;
}

.UserLogIn_email {
    background: #fff !important;
    border: 3px solid #97989a !important;
    border-radius: 5px !important;
    height: 40px !important;
    margin: 8px auto;
    width: 86% !important;
    color: #000 !important;
    display: block;
    font-size: 20px !important;
    padding: 2px 2% 0px 2%!important;
    font-weight: bold!important;
}

.login-box .loginbtn, .login-box .loginbtn:hover {
    background: #f8931f;
    border: 4px solid #fff;
    border-radius: 0;
    color: #434142;
    cursor: pointer;
    font-family: "veneerregular";
    font-size: 24px;
    height: 43px;
    margin: 10px auto;
    outline: medium none !important;
    padding: 7px 0 2px 0;
    text-transform: uppercase;
    display: block;
    width: 84%;
    box-shadow:none;
}

.alert-danger {
    color: #f8931f !important;
    font-size: 14px!important;
    font-family: Arial, Helvetica, sans-serif!important;
    width: 100% !important;
    display: block!important;
    margin: 0px auto !important;
    padding: 0 !important;
    text-align: left !important;
    font-weight: normal !important;
    margin: 0px auto;
    width: 86% !important;
}

.form-group {
    margin: 0 !important;
    width: 100% !important;
}
.form-control {
    color: #000 !important;
}

.form-control::-moz-placeholder {
    color: #97989a !important;
    opacity: 1;
    text-transform: uppercase;
}
.form-control:-ms-input-placeholder {
    color: #97989a !important;
    text-transform: uppercase;
}
.form-control::-webkit-input-placeholder {
    color: #97989a !important;
    text-transform: uppercase;
}

.login-box form input{margin-bottom: 16px;}
.login-bottom-div {
    width: 84%;
    margin: 0 auto;
    clear: both;
    margin-top: 19px;
}
.login-box a {
    color: #333;
    font-family: "veneerregular";
    font-size: 14px;
    text-decoration: none;
}

.login-bottom-div .link1 {
    width: 50%;
    float: left;
    text-align: left;
}
.login-bottom-div .link2 {
    width: 50%;
    float: right;
    text-align: right;
}


/*--Profile Page---*/

ion-page.show-page scroll-content {
    display: block;
}

scroll-content{

    border-top: none;
    border-bottom: solid 2px #acacac;
    line-height: inherit;
}

.mobile-top-con .logo {
    float: none;
    width: 160px;
    margin: 20px auto;
}

.mobile-top-con .mobile-menu {
    float: left;
    height: 0;
    margin-top: 8px;
    width: 54px !important;
}
.mobile-top-con .logout {
    float: right;
    margin-right: 6px;
    margin-top: -64px;
    width: 54px;
}

.contentwrapper{
    background-color: #DFE2E2 !important;
}

.mobile-top-con .mobile-menu .bar-button-menutoggle {
    background-color: #f7931e;
    height: 37px;
}

.mobile-top-con .mobile-menu .bar-button-default {
    color: #fff;
}

.mobile-top-con .mobile-menu .bar-button-menutoggle ion-icon {
    padding: 0 6px;
    font-size: 5.4rem;
}

.experience-wrapper {
    margin: 0 auto;
    width: 100%;
}
.movile-tab-body {
    display: block;
    float: none !important;
    font-family: "veneerregular";
    font-size: 21px;
    height: 45px;
    margin: 0 auto !important;
    overflow: hidden;
    padding: 0 !important;
    position: relative;
    width: 100% !important;
}

scroll-content {
    padding: 10px !important;
}

.movile-tab-body ul {
    margin: 0 !important;
    padding: 0 !important;
}
.movile-tab-body li {
    border-radius: 0 !important;
    display: block;
    float: left;
    height: 40px;
    margin: 0 !important;
    text-align: center;
    width: 50%;
}

.movile-tab-body li a {
    background: #404042 none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 0 !important;
    color: #f7931d;
    display: block;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-decoration: none;
}

ion-slides {
    width: 100%;
    height: auto;
    display: block;
}

.stats-slider {
    margin-top: 24px;
}

.stats-slider h4{
    color: #f7931e !important;
    font-family: "veneerregular" !important;
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 2px;
    text-align: center;
}


.Stats-slider-contain table th {
    font-family: "veneerregular";
    font-size: 30px;
    color: #404042;
    font-weight: normal;
    text-align: left;
}

.Stats-slider-contain td {
    width: 200px;
    font-family: "veneerregular";
    text-align: left;
}

.Stats-slider-contain td .strongtext {
    font-size: 30px;
    font-weight: normal;
    margin: 8px 0;
    color: #404042!important;
    display: block;
}

.Stats-slider-contain td .spantext {
    font-size: 16px;
    line-height: 26px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    color: #4d494d !important;
}


.stats-slider-bottom {
    margin-top: 24px !important;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.stats-slider-bottom-contain{
    width: 90%;
    margin: 10px auto 0;
}

.Stats-slider-bottom-contain1{
    width: 90%; overflow: hidden;
    margin-bottom: 0px;height:auto;
}
.Stats-slider-bottom-contain1 img{
    width: 100%;    max-height: inherit !important; height: 200px;
}
.Stats-slider-bottom-contain2{
    height: auto; width: 90%; overflow: hidden;
}
.Stats-slider-bottom-contain2 img{
    width: 90%;height:auto;
}

.video-container-wrapper {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container-wrapper iframe,
.video-container-wrapper object,
.video-container-wrapper embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#tabs #mainView .blogimg img {
    max-width: 100%;
    background: url(../images/logo.png) no-repeat center center;
    background-size: 80%;
}
.play_youtybe{
    cursor:pointer; width: 20%; z-index: 100; top: 40%; position: absolute; left: 40%;
}

.mapwrapper{width: 100%; margin: 0; padding: 0px;}
.mapwrapper img{max-width: 100%; height: auto;}

/*

.Stats-slider-bottom-contain1 .slide-zoom a {
    height: 163px;
    overflow: hidden;
    max-width: 100%;
    -webkit-transition: max-width .5s ease-out;  !* Saf3.2+, Chrome *!
    -moz-transition: max-width .5s ease-out;  !* FF4+ *!
    -ms-transition: max-width .5s ease-out;  !* IE10? *!
    -o-transition: max-width .5s ease-out;  !* Opera 10.5+ *!
    transition: max-width .5s ease-out;
}

.Stats-slider-bottom-contain1 .slide-zoom a img {
    width: 100%;
    -webkit-transition: margin-top .5s ease-out;  !* Saf3.2+, Chrome *!
    -moz-transition: margin-top .5s ease-out;  !* FF4+ *!
    -ms-transition: margin-top .5s ease-out;  !* IE10? *!
    -o-transition: margin-top .5s ease-out;  !* Opera 10.5+ *!
    transition: margin-top .5s ease-out;
}


.Stats-slider-bottom-contain2 .slide-zoom a {
    height: 280px;
    overflow: hidden;
    max-width: 100%;
    -webkit-transition: max-width .5s ease-out;  !* Saf3.2+, Chrome *!
    -moz-transition: max-width .5s ease-out;  !* FF4+ *!
    -ms-transition: max-width .5s ease-out;  !* IE10? *!
    -o-transition: max-width .5s ease-out;  !* Opera 10.5+ *!
    transition: max-width .5s ease-out;
}

.Stats-slider-bottom-contain2 .slide-zoom a img {
    width: 100%;
    -webkit-transition: margin-top .5s ease-out;  !* Saf3.2+, Chrome *!
    -moz-transition: margin-top .5s ease-out;  !* FF4+ *!
    -ms-transition: margin-top .5s ease-out;  !* IE10? *!
    -o-transition: margin-top .5s ease-out;  !* Opera 10.5+ *!
    transition: margin-top .5s ease-out;
}
*/


.topcoat-list {
    border-top: none;
    border-bottom: solid 2px #acacac;
    padding: 0!important;
    margin: 0!important;
    line-height: inherit;
}

.topcoat-list__item:first-child {
    border-top: 1px solid rgba(0, 0, 0, .05);
}


.item {
    position: relative;
    border: none;
    margin: 0;
    padding-right: 0;
    padding-left: 16px;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background: url(../images/menubg.png) repeat-x !important;
    background-color: transparent;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms, -webkit-transform 300ms;
}

.toolbar-background {
    border-color: #b2b2b2;
    background: #dfe2e2 !important;
    color: #000;
}

.menu-inner {
    position: absolute;
    top: 101px !important;
    width: 100% !important;
}

ion-label {
    font-family: "veneerregular";
    color: #222 !important;
    font-size: 24px !important;
    text-align: center;
    display: block;
    padding: 8px 0 5px 0;
    margin: 0px;
}

.status-menu {
    border: 6px solid #fff;
    height: auto;
    margin: 10px 0;
    margin-bottom: 0px;
    width: 100%;
    overflow: hidden;
}

.status-menu .text-box {
    background: #fff url("../images/menu-arrow.png") no-repeat scroll right top;
    float: left;
    height: auto;
    padding: 4px 3.5% 0 0;
    width: 49.8%;
    height: 58px;
}

.status-menu .text-box textarea {
    background: #fff !important;
    border: medium none !important;
    border-radius: 0 !important;
    height: 52px !important;
    font-size: 15px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    width: 88% !important;
    white-space: pre-wrap;
    word-wrap: break-word;
}


.status-menu .menu1 {
    background: #404042;
    color: #fff;
    float: left;
    font-family: "reservation";
    font-size: 12px;
    height: 58px;
    line-height: 20px;
    padding: 6px 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 25%;
    cursor: pointer;
    text-decoration: none;
}

.status-menu .menu2 {
    background: #f7931d;
    color: #fff;
    float: left;
    font-family: "reservation";
    font-size: 12px;
    height: 58px;
    line-height: 20px;
    padding: 6px 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 25%;
    cursor: pointer;
    text-decoration: none;
}

.status-input
{
    background: #fff;
    height: auto;
    padding: 0px 15px 1px 15px;
    width: 262px;
    margin-top: -4px;
    float: left;
}

.status-input .searchbox {
    background: #fff !important;
    border: 1px solid #414143 !important;
    border-radius: 0px !important;
    color: #444444 !important;
    float: left;
    height: 35px !important;
    padding: 5px;
    width: 100% !important;
    margin: 15px auto;
    font-size: 16px;
}
.status-input .searchbtn {
    color: #f7931d;
    display: block;
    font-family: "veneerregular" !important;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    display: block;
    margin: 0 auto;
    background-image: none;
    border: none;
    cursor: pointer;
    background: none;
}
.btnor {
    text-align: center;
    padding-bottom: 5px;
    color: #f7931d;
    display: block;
    font-family: "veneerregular" !important;
    font-size: 16px;
    letter-spacing: 2px;
}
.status-input .browsebtn {
    background: #fff;
    border: 1px dashed #777;
    color: #92aab0;
    cursor: default;
    font-size: 12px;
    margin: 8px 0 20px 0!important;
    padding: 9px 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.status-input select {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 100%;
    padding: 5px;
    margin: 15px 0;
}


.postbtn1 {
    background: #f7931e!important;
    border: 2px solid #fff;
    box-shadow: 0 0 2px #888;
    color: #414151 !important;
    height: 34px !important;
    line-height: 33px !important;
    text-align: center;
    width: 112px !important;
    float: left;
    color: #414151 !important;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "veneerregular";
    font-size: 16px !important;
    margin-bottom: 15px;
}

.postbtn2 {
    background: #f7931e!important;
    border: 2px solid #fff;
    box-shadow: 0 0 2px #888;
    color: #414151 !important;
    height: 34px !important;
    line-height: 33px !important;
    text-align: center;
    width: 112px !important;
    float: right;
    color: #414151 !important;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "veneerregular";
    font-size: 16px !important;
    margin-bottom: 15px;
}

#tabs{
    width: 100%;
    margin: 0;
    border: solid 6px #fff;
    background: #fff;
    margin-top: 25px;
    clear: both;
    float: left;
}

#tabs .btntablist {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff!important;
    clear: both;
}

#tabs .btntab{
    font-family: 'veneerregular';
    font-size: 26px;
    background: #58585a;
    font-weight: normal;
    color: #f08e28;
    text-align: center;
    float: left;
    width: 25%;
    border-bottom: solid 6px #fff;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    box-shadow: none;
    height: 49px;
    border-right: 1px solid #fff;
}

#tabs .active {
    background-color: #FFF;
    color: #000;
}

#tabs #mainView .blog1 {
    background: #fab363;
    margin: 0 auto;
    padding: 2px 1%;
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    clear: both;
    float: left;
}
#tabs #mainView .left-img {
    float: none;
    width: 100%;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
}

#tabs #mainView .left-img img {
    float: left;
    margin-left: 0px;
    width: 50px;
    margin-right: 12px;
    background: url(../images/logo.png) no-repeat center center;
    background-size: 80%;
}
#tabs #mainView .mobile-name-view {
    float: left;
    width: 80%;
    line-height: 25px;
}
.closeBtn {
    width: 11px!important;
    position: absolute;
    top: 56px;
    right: -6px;
    display: none;
}

#tabs #mainView .text-contain {
    background: #fff;
    color: #000;
    font-size: 11px;
    line-height: 18px;
    padding: 8px;
    width: auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
    float: left;
    margin-top: 10px;
    width: 100%;
}

#tabs #mainView .text-contain a {
    color: #000;
}
.extracted_content h4 a {
    color: #f7931d!important;
}


.extracted_url {
    background: #ffffff;
    width: auto;
    padding: 15px;
    position: relative;
    clear: both;
}
.extracted_thumb {
    display: inline-block;
    float: left;
    max-width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}
.extracted_content {
    display: inline-block;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #575757;
    margin: 0 0px;
    padding: 0px 10px;
    max-width: 100%;
    position: relative;
}
.extracted_thumb img {
    max-height: 250px;
    border: solid 1px #d9d9d9;
    max-width: 100%;
    width: 736%;
}
.extracted_content h4 {
    color: #f7931d;
    margin-top: 0;
    padding-top: 0px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.extracted_content p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#tabs #mainView .blog2 {
    background: #d1d3d4;
    margin: 0 auto;
    padding: 2px 1%;
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    clear: both;
    float: left;
}

.bottom-like-contain {
    width: 100%;
    margin: 10px auto;
}
.linknew-box {
    display: block;
    float: left;
    margin: 5px 0;
    text-align: left;
    width: 75px;
}
.linknew-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff!important;
    clear: both;
}

.linknew-box ul li {
    width: 20px;
    float: left;
    margin-right: 5px!important;
    list-style: none;
    position: relative;
    background: none!important;
    border: none!important;
    padding: 0!important;
}

.linknew-box ul li a {
    display: block;
    width: 20px;
}
.linknew-box ul li img {
    width: 20px;
}


.like-con2 {
    width: 184px;
    float: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    color: #343434;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold !important;
    padding: 0;
    text-align: right;
    text-transform: uppercase !important;
    padding-right: 6px;
}

.like-con2 a{color:#343434;}
.like-con2 span, .like-con2 label, .like-con2 a{display: inline-block; float: left;}
.like-con2 span:first-of-type{width: 44px; float: left;}
.like-con2 a, .like-con2 label{margin-top: 5px;}

#tabs .ng-scope .ng-binding span {
    display: inline-block;
    font-family: "reservation";
    font-size: 13px;
    margin-top: -4px;
    text-transform: uppercase;
}

.hastagLink {
    color: #F7931D!important;
    z-index: 9!important;
    position: relative!important;
}
.like-con2 span .dropdown img{display: inline-block;
    float: left;}

video {
    width: 100%;
}

.empty {
    display: block;
    font-family: "veneerregular"!important;
    line-height: 30px;
    padding: 0;
    text-align: center;
    width: 100%;
    font-size: 14px;
    clear: both;
}

.viewMore {
    width: 100%;
    text-align: center;
    padding: 10px 0;

}

.viewMore a {
    color: #333;
    font-family: "veneerregular" !important;
    font-size: 16px;
    letter-spacing: 2px;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
.imgresponsive{max-width: 100%; width: 100%; display: block; margin: 0px; padding: 0px;}

#tabs .text-contain .rowone {
    color: #f79213;
    float: left;
    font-family: "veneerregular";
    font-size: 18px;
    line-height: 22px;
    margin-top: 62px;
    text-transform: uppercase;
    width: 110px;
}

#tabs .text-contain .rowtwo {
    float: left;
    margin-top: 20px;
    padding-right: 10px;
    padding-top: 0;
    width: 120px;
}
#tabs .text-contain .rowtwo .date-contain {
    padding: 10px 12px 10px 0;
}
#tabs .text-contain .rowtwo h2 {
    color: #616564;
    font-family: "veneerregular";
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 !important;
    padding: 0 !important;
}
#tabs .text-contain .rowtwo .date-contain h5 {
    color: #616564;
    font-family: "veneerregular";
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
    margin: 0 !important;
    padding-bottom: 8px;
}
#tabs .text-contain .rowtwo .date-contain h5 span {
    color: #929497;
    font-family: reservation;
    font-size: 12px;
}



@media screen and (max-width: 500px){
    #tabs #mainView .blog1 {
        background: #fab363;
        margin: 0 auto;
        padding: 2px 2%;
        width: 100%;
    }
}


@media screen and (max-width: 480px) {
    #tabs .button-inner {
        font-size: 20px;
    }
    #tabs #mainView .mobile-name-view {
        float: left;
        width: 72%;
        line-height: 25px;
    }
}
@media screen and (max-width: 380px){
    .login-box {
        width: 260px!important;
        padding: 16px 5% 20px 5%;
    }
    .login-bottom-div .link1 {
        float: none;
        width: 100%;
        text-align: center;
        display: block;
        margin: 10px 0;
    }
    .login-bottom-div .link2 {
        float: none;
        width: 100%;
        text-align: center;
        display: block;
        margin: 0px 0;
    }
}